body{

   overflow-y: hidden;
   overflow-x: hidden;

}




.game{
   background-color: #A4AC8C; 

height: 100vh;
box-sizing: border-box;

}
.verde_amargo_escuro{
background-color: #4D523E;

}


.pavimento{
width: 27px;
   height: 76px;  
position: absolute; 
background-repeat: no-repeat;
top: 1%;

}
 .pavimento img{
width: 50px;

}



#meu_car{
   position: relative;
   top: 490px;
   left: 10%;
   width: 150px;
   
   }
   





   .carros{
 top: -100px;
   width: 150px;
position: absolute;
  
   }