@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




body{

   overflow-y: hidden;
   overflow-x: hidden;

}




.game{
   background-color: #A4AC8C; 

height: 100vh;
box-sizing: border-box;

}
.verde_amargo_escuro{
background-color: #4D523E;

}


.pavimento{
width: 27px;
   height: 76px;  
position: absolute; 
background-repeat: no-repeat;
top: 1%;

}
 .pavimento img{
width: 50px;

}



#meu_car{
   position: absolute;
   top: 490px;
   left: 640px;
   width: 150px;

   
   }
   





   .carros{
 top: -100px;
   width: 150px;
position: absolute;

  
   }


   .itim-regular {
      font-family: "Itim", cursive;
      font-weight: 400;
      font-style: normal;
    }